* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-blue-1: #3180d5;
$color-blue-2: #00cbff;
$color-blue-3: #000723;
$color-white: #ffffff;
$color-dark-gray: #434141;
$color-light-gray: #d6d6d6;
$color-black: #343434;

body {
  // background-color: #424141;
  font-size: 62.5%;
  background-color: #fcfcfc;
  background-size: cover;
  background-position: center;
}

.alert {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 4rem;
  color: $color-light-gray;
  font-size: 1.2rem;
  z-index: 999;

  &--error {
    background-color: red;
  }

  &--success {
    background-color: $color-blue-2;
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
}

.pagination {
  position: absolute;
  display: inline-block;
  left: 50%;
  border: none;
  padding: 5rem 1rem;
  transform: translate(-50%, -50%);
}

.page-link {
  text-decoration: none;
  color: $color-dark-gray;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &-active {
    color: $color-light-gray;
    background: none;
    outline: none;
    background: none;
    border: none;
    font-size: 1.2rem;
  }
}

.page {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  text-decoration: none;
  color: $color-dark-gray;
  cursor: pointer;

  &__item {
    border-radius: 2px;
    padding: 0.3rem 0.8rem;

    &--active {
      background: linear-gradient(to right, $color-blue-1, $color-blue-2);
      color: $color-light-gray;
    }
  }
}

.navbar {
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  &__logo {
    height: 1.5rem;
    margin-left: 2.5rem;
  }

  &__form {
    transform: translateX(4.5rem);
  }

  &__search {
    border: none;
    border-radius: 2.5rem;
    background-color: #424141;
    width: 20rem;
    height: 1.8rem;
    color: $color-light-gray;
    padding: 0.3rem 1.3rem;
    margin-right: 1.7rem;

    &:focus {
      outline: none;
      width: 25rem;
      margin-right: -1.5rem;
      transition: all 0.4s;
    }
  }

  &__btn {
    background: none;
    height: 5.2rem;
    color: #fcfcfc;
    outline: none;
    border: none;
  }

  &__linksDiv {
    margin-right: 3rem;
  }

  &__links {
    text-decoration: none;
    font-size: 0.8rem;
    background-color: $color-dark-gray;
    color: $color-white;
    padding: 0.3rem 1rem;
    border-radius: 2.5rem;

    &--me {
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.8em;
      width: 2.2em;
      height: 2.2em;
      padding: 0.3rem 0;
      line-height: 1.6em;
      text-align: center;
      border-radius: 50%;
      background: linear-gradient(to right, $color-blue-1, $color-blue-2);
      vertical-align: middle;
      // margin-right: 1em;
      color: white;
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
}

.logout-btn {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: $color-dark-gray;
  margin-top: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.no-likes {
  margin-top: 10rem;
}

.selection {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2.5rem;
  &__btn {
    border: none;
    background-color: $color-dark-gray;
    color: $color-light-gray;
    padding: 0.3rem 1.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    text-transform: capitalize;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:focus {
      outline: none;
    }

    &--active {
      background: linear-gradient(to right, $color-blue-1, $color-blue-2);
      color: $color-light-gray;
    }
  }
}

.section__cards {
  margin: 7rem 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin: 3rem 10%;
  display: flex;
  background-color: rgba(#000000, 0.9);
  border-radius: 0.3rem;
  position: relative;

  &:hover {
    background-color: rgba(#000000, 0.85);
  }
  &__img {
    height: 14rem;
  }

  &__info {
    padding: 1.25rem;
  }

  &__title {
    font-size: 1.2rem;
    // font-weight: 500;
    color: $color-blue-1;
    margin-bottom: 1rem;
    font-family: "Times New Roman", Times, serif;
  }

  &__date {
    font-size: 0.8rem;
    color: $color-blue-1;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 0.8rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: $color-light-gray;
  }

  &__link {
    text-decoration: none;
    text-transform: capitalize;
    color: $color-blue-1;
  }

  &__rating {
    position: absolute;
    right: 3%;
    bottom: 5%;
    width: 2.5rem;
    height: 2.5rem;
    color: $color-light-gray;
    font-size: 1rem;
    background-color: $color-blue-1;
    padding: 0.5rem;
    border-radius: 200rem;
    text-align: center;
  }

  &__profession {
    font-size: 1rem;
    color: $color-light-gray;
    text-transform: capitalize;

    &--primary {
      color: $color-blue-2;
    }
  }

  &__popularity {
    background: linear-gradient(to right, $color-blue-1, $color-blue-2);
    display: inline-block;
    color: $color-light-gray;
    margin-top: 1rem;
    padding: 0.3rem 0.9rem;
    font-size: 0.8rem;
  }

  &__knownFor {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $color-light-gray;
    letter-spacing: 0.5px;
    word-spacing: 2px;

    &--primary {
      color: $color-blue-2;
      font-size: 1rem;
    }
  }

  &__readMore {
    position: absolute;
    bottom: 5%;
  }
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &__img {
    height: 10rem;
    border-radius: 0.5rem;
    opacity: 0.5;
  }

  &__text {
    text-align: center;
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: $color-blue-1;
    font-weight: 600;
  }
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-dark-gray;
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;

  &__heading {
    font-size: 2rem;
    color: $color-light-gray;
    margin-top: 2rem;
  }

  &__alternate {
    text-align: center;
    font-size: 1rem;
    color: $color-light-gray;
  }

  &__links {
    font-size: 1rem;
    text-decoration: underline;
    color: $color-light-gray;
  }

  &__back {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.form {
  padding: 2rem;

  &__group {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input {
    font-size: 0.9rem;
    font-family: inherit;
    color: $color-light-gray;
    padding: 0.4rem 0.9rem;
    border-radius: 2px;
    background-color: rgba($color-black, 0.8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-dark-gray, 0.1);
      border-bottom: 3px solid $color-blue-2;
    }

    &:focus:invalid {
      border-bottom: 3px solid orangered;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 700;
    color: $color-blue-3;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
  }

  &__submit {
    margin: 0 50%;
    transform: translateX(-50%);
    color: $color-light-gray;
    padding: 0.7rem 2.5rem;
    background-color: $color-blue-3;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.composition {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  background-color: $color-black;
  color: $color-light-gray;
  padding: 8rem 6rem 2rem 6rem;
  &__img {
    height: 18rem;
    border-radius: 3px;
  }

  &__like {
    position: absolute;
    right: 10%;
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__info {
    margin-left: 2rem;
  }

  &__title {
    font-size: 2rem;
    color: $color-blue-1;
  }

  &__tagline {
    font-size: 1.4rem;
    color: $color-light-gray;
    font-style: italic;
  }

  &__date {
    font-size: 1.2rem;
    color: $color-blue-1;
    margin-bottom: 1rem;
  }

  &__rating {
    background: linear-gradient(to right, $color-blue-1, $color-blue-2);
    color: $color-light-gray;
    padding: 2px 5px;
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  &__runtime {
    color: $color-light-gray;
    font-size: 1.2rem;
  }

  &__overview {
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  &__back {
    position: absolute;
    top: 5%;
    left: 2%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-light-gray;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.review {
  margin-top: -8rem;
  background-color: $color-black;
  padding: 0rem 8rem;

  &__heading {
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    color: $color-blue-1;
  }

  &__formDiv {
    margin-top: 2rem;
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
  }

  &__user {
    display: inline-block;
    font-size: 1.5em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right, $color-blue-1, $color-blue-2);
    vertical-align: middle;
    margin-right: 1em;
    color: white;
  }

  &__form {
    transform: translateY(-5px);
  }

  &__input {
    border: none;
    border-radius: 2.5rem;
    background-color: #424141;
    width: 20rem;
    height: 1.8rem;
    color: $color-light-gray;
    padding: 0.3rem 1.3rem;
    margin-right: 1.7rem;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    padding: 3px 7px;
    background-color: $color-blue-1;
    color: $color-light-gray;
    border-radius: 3px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__div {
    margin-top: 1rem;
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 1rem;
    color: $color-light-gray;
  }
}
